<h1>Dragon Ball Z</h1>
<hr />

<div class="row">
  <div class="col">
    <h3>Personajes</h3>
    <hr />
    <ul>
      <li>Krillin - 700</li>
      <li>Goku - 15.000</li>
      <li>Vegeta - 14.990</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar</h3>
    <hr />
    <form (ngSubmit)="agregar()">
      <!-- Indicamos que ese value apunte a la propiedad de la clase y al objeto nuevo -->
      <!-- <input type="text" placeholder="Nombre" [value]="nuevo"/> -->
      <!-- Se utilizan llaves cuadradas para establecer una propiedad a la etiqueta-->
      <!-- Se utilizan parentecis para establecer un evento a la etiqueta-->
      <input
        type="text"
        placeholder="Nombre"
        [value]="nuevo.nombre"
        (input)="cambiarNombre($event)"
      />
      <input
        type="number"
        placeholder="Poder"
        [value]="nuevo.poder"
        (input)="cambiarEdad($event)"
      />
      <button type="submit">Agregar</button>
    </form>
  </div>
</div>
