<p>Listado de Héroes</p>

<!-- heroeBorrado = '' || false || null || undefined -->
<!-- *ngIf comprueba esas condiciones si es que no se envia una comparación -->
<!-- <div *ngIf="heroeBorrado">
  <h3>
    Héroe borrado <small>{{ heroeBorrado }}</small>
  </h3>
</div> -->

<!-- utilizamos una referencia local para mostrar otro codigo en cado de que no se cumpla la condición -->
<div *ngIf="heroeBorrado; else noBorrado">
  <h3>
    Héroe borrado <small>{{ heroeBorrado }}</small>
  </h3>
</div>

<!-- referencia local -->
<ng-template #noBorrado>
  <h3>No ha borrado nada.</h3>
</ng-template>

<button (click)="borrarHeroe()">Borrar</button>

<ul>
  <li *ngFor="let heroe of heroes; let i = index">{{ i + 1 }} - {{ heroe }}</li>
</ul>
